p {
    margin-bottom: 0;
}

.subscription{
    padding: 1vh 0 0 0;
}

.card{
    width: 100%;
    box-shadow: 1px 4px 4px 0 rgba(0,0,0,0.2);
    padding: .75vh 1vw .75vh 1vw;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.descriptive-label{
    color: grey;
    
}

.informative-label{
    font-style: italic;
    font-weight: bold;
}